:root {
  --blue-light: #3a6a9e;
  --blue-primary: #1d334a;
  --blue-dark: #101f2f;
  --selected-green: #88d188;
  --card-gradient-one: #ffeeda44;
  --card-gradient-two: #66b8db44;
  --card-gradient-three: #8490ee44;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--blue-primary);
  border-bottom: 4px solid var(--blue-dark);
  box-shadow: 0px 2px 10px var(--blue-light);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #070d14ee;
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.current-user {
  border: 3px solid var(--selected-green);
  box-shadow: 0px 0px 20px 1px var(--selected-green);
}

.event-card {
  margin: 20px;
  border: 2px solid var(--blue-primary);
  box-shadow: 2px 2px 4px var(--blue-dark);
  border-radius: 4px;
  height: 400px;
  width: 320px;
  justify-self: stretch;
  background: linear-gradient(
    45deg,
    var(--card-gradient-one) 0%,
    var(--card-gradient-two) 40%,
    var(--card-gradient-three) 50%,
    var(--card-gradient-two) 60%,
    var(--card-gradient-one) 100%
  );
}

.event-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 7px 7px 4px 0px var(--blue-dark);
}

.new-card {
  border: none;
  color: rgb(101, 101, 101);
  font-size: 3.6rem;
  opacity: 0.8;
}

.new-card:hover {
  color: white;
  cursor: pointer;
}

.icon-hover-grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.delete-btn {
  color: #00000000;
}

.comment:hover .delete-btn {
  color: black;
}

.comment .delete-btn:hover {
  color: black;
}

.disabled {
  visibility: hidden;
}
