:root {
  --blue-light: #3a6a9e;
  --blue-primary: #1d334a;
  --blue-dark: #101f2f;
  --selected-green: #88d188;
  --card-gradient-one: #ffeeda44;
  --card-gradient-two: #66b8db44;
  --card-gradient-three: #8490ee44;
}

* {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--blue-primary);
  border-bottom: 4px solid var(--blue-dark);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #070d14ee;
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: 2px solid white;
}

.select-user-image {
  border: 3px solid white;
}

.current-user {
  border: 3px solid var(--selected-green);
  box-shadow: 0px 0px 20px 1px var(--selected-green);
}

.change-user-panel {
  transition: transform 200ms ease-in, opacity 200ms ease-in;
  grid-area: 1 / 1 / 2 / 2;
}

.event-card {
  border-radius: 10px;
  height: 360px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px gray;
  overflow: hidden;
}

.placeholder {
  border: none;
  color: rgb(101, 101, 101);
  opacity: 0.8;
}

.icon-hover-grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.editable-event-details {
  background-color: #bcd9e288 !important;
  padding: 5px;
}

.editable-text {
  width: 100%;
  height: auto;
  resize: none;
  background-color: #6f6fdb22;
  padding: 5px;
  border-radius: 5px;
}

.editable-text:focus {
  outline: 2px solid rgb(113, 113, 243);
}

.delete-btn {
  color: #00000000;
}

.comment:hover .delete-btn {
  color: black;
}

.comment .delete-btn:hover {
  color: black;
}

.disabled {
  visibility: hidden;
}
